<div class="div-main">
  <h2 class="titulo">Cuentos</h2>
  <div class="div-cuentos">
    <article class="article">
      <h3 class="subtitulo">Lorem ipsum</h3>
      <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum repellat laboriosam exercitationem eaque nesciunt excepturi, fuga alias, quae magni repudiandae repellendus hic voluptates accusantium doloremque id consequuntur in, minima saepe?</p>
      <button class="button">Ver más</button>
    </article>
    <article class="article">
      <h3 class="subtitulo">Lorem ipsum</h3>
      <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum repellat laboriosam exercitationem eaque nesciunt excepturi, fuga alias, quae magni repudiandae repellendus hic voluptates accusantium doloremque id consequuntur in, minima saepe?</p>
      <button class="button">Ver más</button>
    </article>
    <article class="article">
      <h3 class="subtitulo">Lorem ipsum</h3>
      <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum repellat laboriosam exercitationem eaque nesciunt excepturi, fuga alias, quae magni repudiandae repellendus hic voluptates accusantium doloremque id consequuntur in, minima saepe?</p>
      <button class="button">Ver más</button>
    </article>
  </div>
</div>
