.div-app {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: 
    'navbar navbar navbar navbar navbar'
    'toolbar main main main main'
    'toolbar main main main main'
    'toolbar main main main main'
    'toolbar main main main main';
}

.navbar {
  grid-area: navbar;
}

.toolbar {
  grid-area: toolbar;
}

.main {
  grid-area: main;
}